<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devmanta.bd.dao.DAOTest">

<select id="selectTestByNo" resultType="com.devmanta.bd.vo.TestVO">
	select * from Test where no=#{no}
</select>

</mapper>